<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test General Web App</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header>
        <%- include ('./nav.ejs') %>
    </header>
    <main>
        <h1>General Test Web Application</h1>
        <h2>Current Status</h2>
        <h3>isAuthentincated:</h3>
        <% if (isAuthenticated) {
            %> <p>True</p> <%
        } else {
            %> <p>False</p> <%
        } %>

        <h3>User:</h3>
        <% if (userInfo) { %> 
            <p>name: <%=userInfo.name%></p> 
            <p>email: <%=userInfo.email%></p>
        <%
        } else {
            %> <p>None</p> <%
        } %>

        <h3>idToken</h3>
    
        <% if (idToken) { %> 
            <p>aud: <%=idToken.aud%></p> 
            <p>email: <%=idToken.email%></p> 
            <p>email_verified: <%=idToken.email_verified%></p> 
            <p>exp: <%=idToken.exp%></p> 
            <p>iat: <%=idToken.iat%></p> 
            <p>iss: <%=idToken.iss%></p> 
            <p>name: <%=idToken.name%></p> 
            <p>nickname: <%=idToken.nickname%></p> 
            <p>nonce: <%=idToken.nonce%></p> 
            <p>picture: <%=idToken.picture%></p> 
            <p>sub: <%=idToken.sub%></p> 
            <p>updated_at: <%=idToken.updated_at%></p> 
        <%
        } else {
            %> <p>None</p> <%
        } %>

        <h3>Request Protected Data</h3>
        <a href="/requires-auth"><button>Protected Endpoint</button></a>

        <h3>Request to Management API</h3>
        <a href="/mgmt-api"><button>Use Access Token</button></a>

        <h3>SSO to SPA</h3>
        <a href="http://localhost:3001/" target="_blank"><button>React App</button></a>

        <h3>Refresh Tokens</h3>
        <p>This will check for and return a valid access token, or refresh an expired one</p>
        <a href="/refresh"><button>Refresh</button></a>
    </main>
    
</body>
</html>