<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test General Web App</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header>
        <%- include ('./nav.ejs') %>
    </header>
    <main>
        <h1>General Test Web Application</h1>
        <h2>Current Status</h2>
        <h3>isAuthentincated:</h3>
        <% if (isAuthenticated) {
            %> <p>True</p> <%
        } else {
            %> <p>False</p> <%
        } %>

        <h3>User:</h3>
        <% if (userInfo) { %> 
            <p>name: <%=userInfo.name%></p> 
            <p>email: <%=userInfo.email%></p>
            <p>email_verified: <%=userInfo.email_verified%></p>
            <p>sub: <%=userInfo.sub%></p>
        <%
        } else {
            %> <p></p> <%
        } %>
        
    </main>
    
</body>
</html>